@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0068D4;
    --secondary: #00366E;
    --success: #73ED09;
    --info: #56FFC4;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-success {
    background-color: var(--success);
    border-color: var(--success);
}